{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Events plugin for Craft CMS 3.x
 *
 * Craft Events index.twig
 *
 * @author    Imarc
 * @copyright Copyright (c) 2020 Imarc
 * @link      https://www.imarc.com
 * @package   CraftEvents
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("imarc\\craft-events\\assetbundles\\craftevents\\CraftEventsAsset") %}
{% do view.registerAssetBundle("imarc\\craft-events\\assetbundles\\eventscpsection\\EventsCPSectionAsset") %}

{% set docsUrl = "https://github.com/imarc/craft-events/blob/master/README.md" %}

{% set title = "Craft Events" %}

{% set pluginCpUrl = url('craft-events') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@imarc/craft-events/assetbundles/eventscpsection/dist', true) ~ '/img/Events-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('craft-events') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Events CP Section body goes here"|t('craft-events') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
